<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sasha.carbontracker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="ca.cmpt276.carbonTracker.UI.WelcomePageActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.cmpt276.carbonTracker.UI.MainMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ca.cmpt276.carbonTracker.UI.SelectTransportationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ca.cmpt276.carbonTracker.UI.AddCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ca.cmpt276.carbonTracker.UI.AddRouteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ca.cmpt276.carbonTracker.UI.JourneyInformationActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ca.cmpt276.carbonTracker.UI.FootprintTableActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.UI.FootprintGraphActivity" />
        <activity
            android:name="ca.cmpt276.carbonTracker.UI.SelectRouteActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ca.cmpt276.carbonTracker.UI.ModifyCarActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.UI.EditCarActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.UI.EditRouteActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.UI.JourneyListActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.UI.EditJourneyActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.UI.AddUtilityActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.UI.UtilityListActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.UI.UtilitySummaryActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.UI.EditUtilityActivity" />
    </application>

</manifest>