<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sasha.carbontracker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="ca.cmpt276.carbonTracker.UI.WelcomePageActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.cmpt276.carbonTracker.UI.MainMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ca.cmpt276.carbonTracker.UI.SelectTransportationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ca.cmpt276.carbonTracker.AlternateUI.AddCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ca.cmpt276.carbonTracker.AlternateUI.AddRouteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ca.cmpt276.carbonTracker.UI.JourneyInformationActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ca.cmpt276.carbonTracker.UI.PieGraphAllJourneysActivity" />
        <activity
            android:name="ca.cmpt276.carbonTracker.UI.SelectRouteActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ca.cmpt276.carbonTracker.UI.ModifyCarActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.UI.EditCarActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.UI.EditRouteActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.UI.JourneyListActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.UI.EditJourneyActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.AlternateUI.AddUtilityActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.UI.UtilityListActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.UI.UtilitySummaryActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.UI.EditUtilityActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.UI.GraphMenuActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.UI.PieGraphTransportActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.UI.MonthlyEmissionGraphActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.UI.YearlyEmissionLineGraphActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.UI.PieGraphRouteActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.UI.PieGraphDayJourneyActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.AlternateUI.MainMenuActivity_Alternate" />
        <activity android:name="ca.cmpt276.carbonTracker.AlternateUI.AddJourneyActivity_Alternate" />
        <activity android:name="ca.cmpt276.carbonTracker.AlternateUI.LineGraphActivity"></activity>
    </application>

</manifest>