<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sasha.carbontracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="ca.cmpt276.carbonTracker.WelcomePageActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.cmpt276.carbonTracker.MainMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ca.cmpt276.carbonTracker.SelectTransportationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ca.cmpt276.carbonTracker.AddCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ca.cmpt276.carbonTracker.AddRouteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ca.cmpt276.carbonTracker.JourneyInformationActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ca.cmpt276.carbonTracker.FootprintTableActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.FootprintGraphActivity" />
        <activity
            android:name="ca.cmpt276.carbonTracker.SelectRouteActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ca.cmpt276.carbonTracker.ModifyCarActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.EditCarActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.EditRouteActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.JourneyListActivity" />
        <activity android:name="ca.cmpt276.carbonTracker.EditJourneyActivity"></activity>
    </application>

</manifest>